body{
    display:grid;
    width:100vw;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#container{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border:1px solid white;
    border-radius: 30px;
}
@media(max-width:800px)
{
    body{grid-template-columns: 1fr 80% 1fr;}
}
/*

Make the content of the body to be flexbox and center content horisontally and vertically. Also set width and height to fullscreen.

 */