body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100vw;
}
/*

Make the content of the body to be flexbox and center content horisontally and vertically. Also set width and height to fullscreen.

 */